img{
    display: block;
    margin: auto;
    margin-top: 150px;
    width: 300px;
    margin-bottom: 30px;
}
div{
    display: block;
    text-align: center;

}
input{
    width: 400px;
    padding: 5px;
    border-radius: 20px;
    border-color: gray;
    border-width: 0.5px;
}
button{
    background-color: blue;
    width: 80px;
    padding: 5px;
    border-radius: 20px;
    border-color: gray;
    border-width: 0.5px;
}